<div class="successCard">
  <div class="card text-white bg-success mb-3">
    <div class="card-body">
      <h5 class="card-title">
        Success:
      </h5>
      <p class="card=text">This is a success!</p>
    </div>
  </div>
</div>
<!-- <app-box>
    <div class="card text-white bg-success mb-3">
    <div class="card-body">
      <h5 class="card-title">
        Success:
      </h5>
      <p class="card=text">This is a success!</p>
    </div>
  </div>
</app-box> -->
<!-- <div class="app-box">
    <div class="card text-white bg-success mb-3">
    <div class="card-body">
      <h5 class="card-title">
        Success:
      </h5>
      <p class="card=text">This is a success!</p>
    </div>
  </div>
</div> -->
