<div class="warningCard">
  <div class="card text-white bg-warning mb-3">
    <div class="card-body">
      <h5 class="card-title">
        Warning:
      </h5>
      <p class="card=text">This is a warning!</p>
    </div>
  </div>
</div>
<!-- <app-box>
    <div class="card text-white bg-warning mb-3">
    <div class="card-body">
      <h5 class="card-title">
        Warning:
      </h5>
      <p class="card=text">This is a warning!</p>
    </div>
  </div>
</app-box> -->
<!-- <div class="app-box">
  <div class="card text-white bg-warning mb-3">
    <div class="card-body">
      <h5 class="card-title">
        Warning:
      </h5>
      <p class="card=text">This is a warning!</p>
    </div>
  </div>
</div> -->
